  
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-film {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-home {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-home2 {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-play {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-video-camera {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
